/*
 *
 * btns.css
 * Simple css utilities for building responsive buttons
 * Author: mrmrs
 * License: MIT
 *
 *                */

/*

  Base .btn class

  Code:
  <a href="#" class="btn">Default button</a>

*/

$md: 20px;
$lg: 24px;

.btn,
.btn:link,
.btn:visited {
  box-sizing: border-box;
  border-radius: .3em;
  border-style: solid;
  border-width: 1px;
  color: #111;
  display: inline-block;
  letter-spacing: .15em;
  margin-bottom: .5em;
  padding: 1em .75em;
  text-decoration: none;
  transition: color .4s, background-color .4s, border .4s;

  @include break(medium) {
    font-size: $md;
  }

  @include break(large) {
    font-size: $lg;
  }
}

.btn:hover {
  color: #7FDBFF;
  border: 1px solid #7FDBFF;
  transition: background-color .3s, color .3s, border .3s;
}

.btn:active {
  color: $blue;
  border: 1px solid $blue;
  transition: background-color .3s, color .3s, border .3s;
}

.btn:disabled {
  opacity: 0.8;
}


/*

  Sizes

  Small  = .btn--s
  Medium = .btn--m
  Large  = .btn--l

  Code:
  <a href="#" class="btn btn--s">
  <a href="#" class="btn btn--m">
  <a href="#" class="btn btn--l">

*/

.btn--s { font-size: 12px; }
.btn--m { font-size: 14px; }
.btn--l { font-size: 20px; border-radius: .25em!important; }


/*

  Layout utility for responsive buttons

  Code:
  <a href="#" class="btn btn--full">

*/

.btn--full,
.btn--full:link {
  border-radius: .25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;

  @include break(not-small) {
    width: inherit;
    display: inline-block;
    margin: 0 0.4em;
  }
}

/* BLUES */

.btn--blue {
  color: #fff;
  background-color: $blue;
}

.btn--blue:hover {
  color: #fff!important;
  background-color: #0063aa;
  border-color: #0063aa;
}

.btn--blue:active {
  color: #fff;
  background-color: $navy;
  border-color: $navy;
}
