@mixin large-base {
  .lead {
    font-size: $fontXLarge;
    margin: 1em $breath;
  }

  .callout {
    font-size: 2em;
    margin: 2em $breath;
  }

  .btn {
    font-size: 2.5em;
    display: inline-block;
  }

  .btn-primary {
    font-size: 3em;
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .btn-secondary {
    width: 30%;
  }
}

// iPad-Landscape
@include ipadland {
  @include large-base;
}

// larger than an iPad (desktop)
@include large {
  @include large-base;

  main {
    width: $breakLg;
    margin: 0 auto;
    font-size: 90%;
  }

  .btn-primary,
  .btn-secondary {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
