// iPad-Landscape
@include large {
  .lead {
    font-size: $fontXLarge;
    margin: 1em $breath;
  }

  .callout {
    font-size: 2em;
    margin: 2em $breath;
  }

  .btn {
    font-size: 2.5em;
  }

  .btn-primary {
    font-size: 3em;
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .btn-secondary {
    width: 30%;
  }
}

// larger than an iPad (desktop)
@media only screen and (min-width: $breakLg+1) {
  main {
    width: $breakLg;
    margin: 0 auto;
  }

  .callout {
    background-color: rgba(invert($brand-navy), 0.6);
  }
}
